<p>Hola, <strong><%= @user.email %></strong></p>

<p>Tu crédito en La Tienda de Memo ha llegado a: <strong><%= @balance %></strong>, es hora que nos tomemos un cafe y saldemos cuentas.</p>

<p>Saludos de parte de todo el equipo de La Tienda de Memo</p>