<p>Hola, <strong><%= @user.email.split('@')[0] %></strong>!</p>

<p>Tu crédito en La Tienda de Memo ha llegado a: <strong><%= number_to_currency(@balance, precision: 0) %></strong>, es hora que nos tomemos un cafe y saldemos cuentas.</p>

<p>Saludos de parte de todo el equipo de La Tienda de Memo</p>